/* Michael Ayala */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* <uniquifier>: Use a uniquifier for the class name */
/* <weight>: Use a value from 400 to 700 */

p {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*  Global settings      */ 
:root {
	font-size: 16px;
	--med-blue: ##23288C;
	--dark-blue: #181B59;
	--very-drk-blue: #100227fb;
	--light-gray: #bfbfbd;
	--teal: #27F2DE;
	--light-blue: #E4F1F2;
	--red: #F2134F;
	--white: #ffffff;
	--saturated-green: #6ac22f;
	--saturated-teal:#24fff4;
	
	--black: #0D0D0D;
}
body {
	max-width: 1200px;
	width: 98%;
	margin: 0px auto;
	background-color: var(--light-blue);
	color: var(--dark-blue);
	/*border: #cee4d0 solid 1px;*/
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: serif;
}

div {
	/*border: #690e0e dotted 1px;*/
	width: 94%;
	margin: 10px auto;
	/*border: #b47603 solid 1.4px;*/
}
.Wrapper {
	background-color: #074915;
}
.Header {
	text-align: center;
	background-color: #1f0e02;
	color: #ff6600;
	/*border-radius: 0px 0px 3px 3px;*/
	
}

h1 {
	font-family: "Acme", sans-serif;
	font-size: 3rem;
	/*border: #4c3306 solid 1px;*/
}
h2{
	font-family: "Cabin", sans-serif;
	font-size: 1.8rem;
	color: var(--saturated-green);
}
h3{

	font-size: 1.4rem;
}
p {
	/*font-family: "Signika Negative", sans-serif;*/
	line-height: 20px;
	border-bottom: #11f2f664 dashed .8px;
	color: #b3ebe9;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 8px;
}
.Wrapper {
	/*margin-left: 5px;*/
	/*padding: 10px 2% 10px 10px;*/
	border: #8a260aa8 solid 1px;
	background-color: #140804fb;
}
.Sample, .Content, .Contact {
	background-color: #0f1e01fb;
}
.Content {
	/*margin: 5px 21px;*/
	/*      top right bottom left   */
	/*border: #aaaacaa8 solid 1px;*/
	
	border-radius: 3px;
	border: #4c3306 solid 1.4px;
}
.Sample{
	border: #4c3306 solid 1.4px;
}
.Contact{
	border: #4c3306 solid 1.4px;
}
#intro-p1{
	
	grid-area: para1;
}
#intro-p2{
	grid-area: para2;
}
.Intro {
	display: grid;
	/*justify-content: stretch;*/
	grid-template-columns: 1fr auto;
	grid-template-rows: auto;
	grid-template-areas: "head2 imag"
						 "para1 imag"
						 "para2 para2";
						 

}
.Intro h2{
	grid-area: head2;
	/*border: #8c613b 1px dotted;*/
}
.Intro img {
	/*padding: 10px;*/
	float: right;
	width: calc(100vw/2);
	max-width: 180px;
	grid-area: imag;
	/*box-shadow: 5px 7px 10px 2px #9b9d9d82 ;*/
	/*place-self: center;*/
}
.clearfix::after {
	content:"";
	clear: both;
	display: table;
}

.Footer{
	text-align: center;
	color:#1bd443;
	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: small;
}
#copy{
	color: #f9bd26;
	font-size: .75rem;
	font-size: small;

}
@media screen and (min-width: 350px) {
	.Intro img {
		width: 125px;
		
	}
}