/* Michael Ayala */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: myHeaderFont, serif;
	src: url(./fonts/felixtitling.ttf);
}
/*  Global settings      */ 
:root {
	font-size: 16px;
	--med-blue: #285059;
	--dark-blue: #022326;
	--light-gray: #bfbfbd;
	--brown: #592b02;
	--tan: #8c613b;
	--white: #ffffff;
}
body {
	max-width: 1200px;
	width: 98%;
	margin: 0px auto;
	background-color: var(--white);
	color: var(--dark-blue);
	/*border: #cee4d0 solid 1px;*/
	font-family: Arial, Helvetica, sans-serif;
}

div {
	/*border: #690e0e dotted 1px;*/
	width: 94%;
	margin: auto;
	
}

.FlexHeader {
	text-align: center;
	background-color: var(--white);
	border-radius: 0px 0px 3px 3px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
}
.FlexHeader img {
	width: 100px;
	border: #114b48 solid 1px;
}
.FlexHeader h1 {
	font-family: myHeaderFont;
	font-size: 2rem;
	border: #114b48 solid 1px;
	flex: 50%;
}
.FlexItem {
	/* padding: 10px 2% 10px 10px; */
	margin-bottom: 10px;
	border: #aac9caa8 solid 1px;

}
.FlexWrapper {
	/*margin-left: 5px;*/
	/*padding: 10px 2% 10px 10px;*/
	border: #8a260aa8 solid 1px;
}
.FlexContent {
	/*margin: 5px 21px;*/
	/*      top right bottom left   */
	/*border: #aaaacaa8 solid 1px;*/
	background-color: rgba(244, 244, 239, 0.49);
	border-radius: 3px;
	border: #8a260aa8 solid 1.4px;
}
.FlexContent p {
	/*background-color: #e1a789fe;*/
	color: #761004;
	padding: 10px 2% 10px 10px;
}
.FlexFooter{
	text-align: center;
	background-color: #bfbfbd;
	border-radius: 3px 3px 0px 0px;
}
sm {
	font-size: .8rem;
}
.copy{
	color: #761004;
	font-size: .6rem;
}
@media screen and (min-width: 350px) {
	.FlexHeader img {
		width: 125px;
		border: #114b48 solid 1px;
	}
}